.toolbar {
	-fx-background-color: black;
	-fx-text-fill: #FFFFFF;
 }
 
.toolbar-button {
	-fx-background-color: #000000;
	-fx-color: #FFFFFF;
	-fx-graphic-text-gap: 0px;
    -fx-text-fill: #FFFFFF;
}

.settings-main {
	-fx-background-color: gray;
}

.settings-label {
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 15px;
}

.save-button {
	-fx-base:green;
	-fx-text-fill: #FFF;
	-fx-font-size: 15px;
}

.remove-button {
	-fx-base:red;
	-fx-text-fill: #FFF;
	-fx-font-size: 15px;
}

.next-button {
	-fx-base:green;
	-fx-text-fill: #FFF;
	-fx-font-size: 15px;
}

.turn-label {
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 40px;
}

.main-pane {
	-fx-background-color: #333333;
}

.grey {
	-fx-background-color: #333333;
}

.red {
	-fx-background-color: #333333;
}

.green {
	-fx-background-color: #333333;
}
