.menu-bar {
    -fx-background-color: #aeb5ba, linear-gradient(to bottom, #ecf4fa 0%, #ced4d9 100%);
    -fx-background-insets: 0, 0 0 1 0;
}

.menu-bar .menu .label {
    -fx-text-fill: #2d3e4c;
}
 
.toolbar-button {
	-fx-background-color: #000000;
	-fx-color: #FFFFFF;
	-fx-graphic-text-gap: 0px;
    -fx-text-fill: #FFFFFF;
}

