.toolbar {
	-fx-background-color: black;
	-fx-text-fill: #FFFFFF;
 }
 
.toolbar-button {
	-fx-background-color: #000000;
	-fx-color: #FFFFFF;
	-fx-graphic-text-gap: 0px;
    -fx-text-fill: #FFFFFF;
}

